<p>fabric comp works!</p>
<!-- <canvas (drop)="handleDrop($event)" #mycanvas  style="border: 1px solid red;" width="600" height="500"></canvas> -->
<div
  (dragover)="false"
  (dragend)="false"
  style="position: relative; border: 1px dotted blue;"
  >
  <canvas id="canvas" style="border: 1px solid red;" width="600" height="500">
  </canvas>

  
  <br/>  <br/>
 
  <ng-container *ngIf="currentUsertag">
    <div class="badge"
    [ngStyle]="{'left': objModifying.left +'px', 'top':objModifying.top+'px', 'background': currentUsertag.color}"
    style="position: absolute; z-index: 99; " >{{currentUsertag.name}} is moving object</div>
  </ng-container>
 
 </div>  