<header class="navbar navbar-dark bg-primary">
  <span class="navbar-brand"  >POC fabric ng socket</span>
</header>
<div class="container-fluid">

  <div *ngIf="currentUser == null"> 
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group m-2 row">
      <label for="inputUser" class="col-auto col-form-label">User Name</label>
      <div class="col">
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div class="col"> 
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Login</button>
      </div>
    </div>
</form>
</div>
<div *ngIf="currentUser">
  <div class="alert alert-success" role="alert">
    You are loggedin as <strong>{{currentUser.name}}</strong>!
  </div>
 
<div class="container-fluid">
  <div class="row">
    <div class="col-auto" style="width: 200px;">
      <h4>Active Users</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let item of activeUsers">{{item.name}}</li>
      </ul>
    </div>
    <div class="col">
      <app-fabric ></app-fabric>
    </div>
</div>


</div>
<!-- <router-outlet></router-outlet> -->
</div>