<header class="navbar navbar-dark bg-primary">
  <span class="navbar-brand"  >POC fabric ng socket</span>
</header>
<div class="container-fluid">

<form >
    <div class="form-group m-2 row">
      <label for="inputUser" class="col-auto col-form-label">User Name</label>
      <div class="col">
        <input type="text" class="form-control" id="inputUser">
      </div>
      <div class="col">  <button type="submit" class="btn btn-primary mb-2">Login</button>
      </div>
    </div>
</form>

<app-fabric></app-fabric>
<router-outlet></router-outlet>
</div>